.hero {
background: url('images/banner.jpg') no-repeat center center/cover;
height: 50vh;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAF3E0;
    color: #2F4F4F; 
}

.navbar {
    background-color: #5E2750 !important; 
}
.navbar-brand, .nav-link {
    color: #D4AF37 !important; 
}
.navbar-toggler {
    border-color: #D4AF37 !important; 
}
